################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Urok
/x64/Debug
/Debug
/Test2/Debug
/Test2/x64/Debug
/Test1/x64/Debug
/Test1/Debug
/.vs/DirectXTest/v16
